.footer {
  background-color: #e9ebed;
  &__container {
    padding: rem(33) rem(49);
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__dev-logo {
    max-width: rem(166);
  }
  &__copy {
    font-weight: 700;
    color: #26273c;
    font-weight: 700;
    font-size: rem(14);
    span {
      font-weight: 500;
      color: #868da1;
    }
  }
}
