.footer {
  background-color: #e9ebed;
  &__container {
    padding: rem(33) rem(49);
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__dev-logo {
    max-width: rem(166);
  }
  &__copy {
    font-weight: 700;
    color: #26273c;
    font-weight: 700;
    font-size: rem(14);
    span {
      font-weight: 500;
      color: #868da1;
    }
  }
}

@include max-width(75em) {
  .footer {
    &__row {
      grid-gap: 1.5rem;
    }
    &__container {
      padding: 1.5rem 1rem;
    }
    &__copy {
      font-size: rem(12);
    }
  }
}

@include max-width(37.5em) {
  .footer {
    &__copy {
      max-width: rem(275);
      text-align: center;
      span {
        margin-top: rem(5);
        display: block;
      }
    }
    &__row {
      grid-gap: rem(15);
      flex-direction: column;
    }
  }
}
