.header {
  background-color: #15172d;
  min-height: rem(80);
  position: relative;
  background-size: cover;
  background-image: url('../../img/header/bg-header.png');
  position: fixed;
  z-index: 1000;
  width: 100%;
  &__login {
    display: none;
    align-items: center;
    min-height: rem(80);
    position: relative;
    z-index: 10;
  }
  &__lang {
    cursor: pointer;
    margin-right: rem(36);
    position: relative;
    &:hover .header-langs {
      transform: translateX(-50%) translateY(0px);
      opacity: 1;
      pointer-events: auto;
    }
    &:hover .header__arrow {
      transform: scaleY(-1);
    }
  }
  &__arrow {
    transition: all 400ms ease;
  }
  &__balance {
    img {
      max-width: rem(22);
    }
    padding: rem(10) rem(16) rem(9.5) rem(11);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: rem(15);
  }
  &__user {
    box-shadow: 0 0 35px rgba(16, 17, 30, 0.29);
    cursor: pointer;
    min-width: rem(190);
    min-height: inherit;
    @include dfc;
    grid-gap: 1rem;
    position: relative;
    z-index: 50;
    background-color: #2e3043
  }
  &__user-name {
    font-size: rem(14);
    color: var(--clr-light-400);
    font-weight: 700;
  }
  &__user-rating {
    font-weight: 500;
    font-size: rem(12);
    color: #727384;
    span {
      color: #df533d;
    }
  }
  &__lang-selected {
    @include df;
    grid-gap: rem(9);
    span {
      font-size: rem(11);
      font-weight: 700;
    }
  }
  &__burger {
    display: none;
    grid-gap: .4rem;
    position: relative;
    span {
      display: block;
      width: rem(30);
      border-radius: 5px;
      height: rem(3);
      background: var(--clr-red-400);
    }
  }
  &__container {
    width: 100%;
    padding: 0 rem(18) 0 0;
  }
  &__body {
    width: 100%;
    @include dfc;
    justify-content: space-between;
  }
  &__register {
    @include dfc;
    grid-gap: rem(17);
  }
  &__register-btn {
    &_login {
      background-color: #3b3c4d;
    }
  }
}

.header-langs {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  // margin-top: 1rem;
  top: 100%;
  left: calc(50% - 4px);
  width: calc(100% + 4px);
  background-color: #15172d;
  transform: translateX(-50%) translateY(10px);
  transition: all 400ms ease;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  &__lang-text {
    font-size: .6875rem;
    font-weight: 700;
  }
  &__flag {
    flex: 0 0 auto;
    max-width: rem(20);
  }
  &__item {
    padding: rem(7) rem(5);
    transition: all 300ms ease;
    grid-gap: .5625rem;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--clr-red-400);
    }
  }
}

@include max-width(56.25em) {
  .nav {
    &__item {
      min-height: 1.5rem !important;
      min-width: 3.5rem !important;
      &::before {
        bottom: -.94rem !important;
      }
    }
  }
  .header {
    @include df;
    min-height: 3rem !important;
    &__register {
      display: none;
    }
    &__login {
      display: none !important;
    }
    &__burger {
      display: grid;
    }
  }
  .sidebar {
    &__container {
      padding: 3rem 0 1.875rem !important;
    }
  }
}
