.nav {
  &__list {
    @include dfc;
  }
  &__item {
    min-width: rem(162);
    display: grid;
    place-items: center;
    position: relative;
    min-height: rem(80);
    &_selected {
      &::before {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }
    &::before {
      @include psevdo;
      bottom: rem(-3);
      background: var(--bg-nav-bar);
      width: 100%;
      height: rem(3);
      left: 0;
      opacity: 0;
      transition: all 400ms ease;
      transform: translateY(rem(5));
    }
    &:hover::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__link {
    span {
      font-size: rem(18);
      font-weight: 600;
      color: var(--clr-light-400);
      text-transform: uppercase;
    }
    @include dfc;
    &_cs {
      grid-gap: rem(3);
    }
    &_dota {
      grid-gap: rem(12);
    }
    &_cod {
      grid-gap: rem(9);
    }
  }
}

@include max-width(75em) {
  .header {
    min-height: 4rem;
  }
  .nav {
    &__item {
      min-width: rem(60);
      min-height: 4rem;
    }
    &__link {
      span {
        display: none;
      }
    }
  }
}
