.referal {
  height: 100%;
  &__body {
    display: flex;
    flex-direction: column;
    grid-gap: rem(36);
  }
  &__title {
    margin-bottom: rem(35);
  }
  &__row-heading {
    margin-bottom: rem(36);
  }
  &__row-block {
    border-radius: 20px;
    background-color: #16182e;
    padding: rem(35) rem(36);
  }
  &__total-row {
    @include df;
    grid-gap: rem(54);
  }
  &__statistic-wrapper {
    padding: 0 rem(28) rem(22) rem(35);
    @include max-width(100em) {
      padding: 0 0 0 rem(10);
    }
  }
  &__total {
    position: relative;
    background-color: #202135;
    border-radius: 20px;
    display: flex;
    padding: rem(27) rem(27) rem(22) rem(54);
    flex-direction: column;
    text-align: left;
    img {
      position: absolute;
      left: rem(-28);
      top: 50%;
      transform: translateY(-50%);
    }
    @include max-width(100em) {
      padding: rem(15) rem(15) rem(15) rem(30);
    }
  }
  &__total-amount {
    font-size: rem(24);
    text-transform: uppercase;
    color: var(--clr-red-400);
    font-weight: 800;
  }
  &__total-name {
    color: #7c7d8e;
    font-size: rem(14);
    font-weight: 400;
    @include max-width(100em) {
      font-size: rem(12);
    }
  }
  &__input {
    background-color: #1a1b32;
    border-radius: 25px;
    padding: rem(13) 1rem rem(11) rem(24);
    @include df;
    grid-gap: 2rem;
    justify-content: space-between;
    margin-bottom: rem(31);
    input {
      background-color: transparent;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0;
      color: #df533d;
      &::placeholder {
        font-size: rem(15);
        color: #df533d;
        font-weight: 500;
      }
    }
  }
  &__warning {
    font-style: italic;
    color: #2e3046;
    font-size: rem(14);
    font-weight: 500;
  }
  &__table-wrapper {
    background-color: #1d1e31;
    padding: rem(35);
    border-radius: 15px;
  }
  &__table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(22);
    padding: 0 rem(15) 0 rem(20);
  }
  &__table-heading-item {
    color: #7c7d8e;
    font-size: rem(12);
    font-weight: 500;
    &:nth-child(1) {
      flex: 0 0 rem(128);
    }
    &:nth-child(2) {
      text-align: center;
      flex: 0 0 rem(70);
    }

  }
  &__table-row-item {
    padding: rem(13.5) rem(15) rem(13.5) rem(18);
    border-radius: 35px;
    &:nth-child(even) {
      background-color: #202135;
    }
    @include dfcs;
    span {
      color: var(--clr-light-400);
      font-weight: 500;
      font-size: rem(14);
      text-align: center;

      &:nth-child(3) {
        flex: 0 0 rem(48.5);
      }
      &:nth-child(4) {
        flex: 0 0 rem(135);
      }
      &:nth-child(5) {
        flex: 0 0 rem(110);
        text-align: right;
      }
    }
  }
  &__table-span_rating {
    color: #ffb400 !important;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr .77fr;
  grid-gap: rem(31);
}

@include max-width(81.25em) {
  .inner-block {
    padding: 1.5rem;
  }
  .referal {
    &__row-block {
      padding: 1.5rem;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

@include max-width(37.5em) {
  .referal {
    &__total-row {
      flex-direction: column;
      grid-gap: 2rem;
    }
    &__warning {
      font-size: rem(12);
    }
  }
}

@include max-width(60em) {
  .referal {
    &__table-heading-item {
      font-size: rem(10);
      &:nth-child(1) {
        flex: 0 0 rem(91);
      }
      &:nth-child(2) {
        flex: 0 0 rem(54);
      }

    }
    &__table-wrapper {
      padding: rem(15) rem(5);
    }
    &__inner {
      padding: rem(20) rem(16);
    }
    &__table-row-item {
      span {
        font-size: rem(10);
        &:nth-child(4) {
          flex: 0 0 rem(100);
        }
        &:nth-child(5) {
          flex: 0 0 rem(91);
        }
      }
    }
  }
}

@include max-width(37.5em) {
  .referal {
    &__table-heading-item {

      font-size: rem(10);
      &:nth-child(1) {
        flex: 0 0 rem(65);
      }
      &:nth-child(4) {
        flex: 0 0 rem(60);
      }
      &:nth-child(5) {
        flex: 0 0 rem(58);
        text-align: right;
      }
    }
    &__table-heading {
      padding: 0 rem(10);
      margin-bottom: rem(10);
    }
    &__table-row-item {
      padding: rem(10);
      span {
        font-size: rem(10);
        &:nth-child(1) {
          max-width: rem(65);
          text-align: left;
        }
        &:nth-child(4) {
          flex: 0 0 rem(60);
        }
        &:nth-child(5) {
          flex: 0 0 rem(58);
        }
      }
    }
  }
}

@include max-width(25em) {
  .referal {
    &__table-heading-item {
      font-size: rem(9) !important;
      &:nth-child(1) {
        flex: 0 0 rem(58);
      }
      &:nth-child(2) {
        flex: 0 0 rem(44);
      }
    }
    &__table-row-item {
      align-items: flex-end;
      padding: 0.625rem rem(8) !important;
      span {
        font-size: rem(9) !important;
        white-space: wrap;
        &:nth-child(1) {
          flex: 0 0 rem(40) !important;
        }
        &:nth-child(3) {
          flex: 0 0 auto;
        }
      }
    }
  }
}
