.sidebar {
  background-color: var(--bg-sidebar);
  background-image: url('../../img/sidebar/sidebar-overlay.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: rem(283);
  min-width: rem(283);
  overflow: hidden;
  &__container {
    padding: rem(41) 0 rem(30);
    overflow-y: auto;
  }
  &__logo {
    display: block;
    max-width: rem(135);
    margin-inline: auto;
    margin-bottom: rem(41);
    transition: 400ms ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__media-logo {
    display: none;
  }
  &__links {
    padding: 0 2rem 0;
    display: grid;
    grid-gap: rem(15);
    margin-bottom: rem(50);
  }
  &__link-item {
    background-color: #272941;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: rem(14) 1rem rem(14) rem(20);
    span {
      color: var(--clr-light-400);
      font-size: rem(17);
      font-weight: 500;
      margin-left: rem(17);
    }
  }
  &__link-amount {
    margin-left: auto;
    width: rem(26);
    height: rem(26);
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #1e1f33;
    border-radius: 50%;
    font-size: rem(11);
    color: var(--clr-yellow-400);
    font-weight: 700;
  }
  &__wrapper, .sidebar__container {
    height: 100%;
  }
  &__column {
    height: 92.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__toggles {
    display: flex;
    flex-direction: column;
  }
  &__toggle {
    background-color: #15172d;
    min-height: rem(56);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 rem(35) 0;
    grid-gap: 1rem;
    color: #9899ae;
    font-weight: 500;
    position: relative;
    transition: all 400ms ease;
    &_selected {
      background-color: #202037;
      span {
        color: var(--clr-light-400);
      }
      &::before {
        left: 1px !important;
        opacity: 1 !important;
      }
    }
    &::before {
      @include psevdo;
      left: -3px;
      background: var(--bg-nav-bar);
      width: 3px;
      height: 100%;
      top: 0;
      opacity: 0;
      transition: 400ms ease;
    }
    &:hover::before {
      left: 1px;
      opacity: 1;
    }
    &:hover {
      background-color: #202037;
    }
  }
  &__bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__online {
    border-radius: 20px;
    margin: 0 2rem 0;
    background-color: #212238;
    padding: rem(41) rem(40) rem(15);
    position: relative;
  }
  &__support-image {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    max-width: rem(58);
  }
  &__online-now {
    text-align: center;
    color: var(--clr-light-400);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: rem(2);
    span {
      color: var(--clr-red-400);
      font-size: rem(33);
      font-weight: 800;
    }
  }
  &__anti-hack {
    padding: rem(17) rem(22) rem(10) rem(25);
    margin: rem(26) 2rem 0;
    @include df;
    grid-gap: rem(14);
    border-radius: 20px;
    background-color: #212238;
  }
  &__anti-hack-inner {
    font-size: 1rem;
    font-weight: 700;
    span {
      font-size: rem(14);
      color: #9899ae;
      font-weight: 500;
    }
  }
  &__anti-hack-icon {
    flex: 0 0 auto;
  }
}

@include max-width(85.375em) {
  .sidebar {
    &__logo {
      margin-bottom: 2rem;
    }
    min-width: rem(80);
    max-width: rem(80);
    &__anti-hack {
      background-color: transparent;
      margin: 1rem auto 0;
      padding: .625rem 0;
      justify-content: center;
      border-radius: 0;
    }
    &__anti-hack-inner {
      display: none;
    }
    &__media-logo {
      display: flex;
      justify-content: center;
    }
    &__main-logo {
      display: none;
    }
    &__link-item {
      padding: 0;
      width: rem(45) !important;
      height: rem(45);
      display: grid;
      place-items: center;
      width: fit-content;
      span {
        display: none;
      }
    }
    &__bottom {
      margin: 0;
    }
    &__online {
      background-color: transparent;
      padding: 0;
      margin: 2rem auto 0 auto;
      border-radius: 0;
      padding: rem(10) 0;
    }
    &__support-image {
      width: rem(40);
      margin: 0 auto;
      position: relative;
      left: 0;
      transform: translate(0);
    }
    &__links {
      padding: 0;
      margin-bottom: 2rem;
      justify-content: center;
    }
    &__column {
      height: auto;
      justify-content: space-evenly;
    }
    &__toggle {
      padding: 0;
      justify-content: center;
      span {
        display: none;
      }
    }
    &__online-now {
      display: none;
    }
    &__link-amount {
      display: none;
    }
  }
}

@include max-width(40.625em) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    min-width: 100%;
    max-width: 100%;
    &__anti-hack {
      display: none;
    }
    &__inner {
      display: flex;
      flex: 1;
      height: fit-content;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-right: 1rem;
    }
    &__container {
      padding: .5rem 1rem !important;
    }
    &__wrapper {
      @include df;
    }
    &__column {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    &__toggles {
      grid-gap: .9375rem;
    }
    &__logo {
      &:hover {
        transform: translate(-50%, 0%);
      }
      margin-bottom: 0;
      height: fit-content;
      position: absolute;
      z-index: 100;
      left: 50%;
      transform: translateX(-50%);
    }
    &__online {
      width: 2.8125rem;
      height: 2.8125rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      padding: 0;
      background-color: #272941;
    }
    &__support-image {
      width: rem(27);
      height: rem(27);
      img {
        width: inherit;
        height: inherit;
      }
      top: 0;
    }
    &__toggle {
      width: 2.8125rem;
      height: 2.8125rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: #272941;
      min-height: auto;
      &::before {
        left: 0;
        top: -12px;
        width: 100%;
        height: rem(3);
      }
      &_selected {
        &::before {
          width: 100%;
          height: rem(3);
          left: 0;
          top: -8px;
        }
      }
    }
    &__online {
      margin-top: 0;
    }
    &__links, .sidebar__toggles {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }
  }
}

@include max-width(31.25em) {
  .sidebar {
    &__container {
      padding: .5rem rem(14) !important;
    }
    &__logo {
      max-width: rem(30);
    }
    &__toggles,
    .sidebar__links {
      grid-gap: rem(12);
    }
    &__inner {
      margin-right: rem(12);
    }
    &__toggle,
    .sidebar__link-item,
    .sidebar__online {
      width: 2.35rem !important;
      height: 2.35rem;
      img {
        display: block;
        transform: scale(.9);
      }
    }
  }
}

@include max-width(23.475em) {
  .sidebar {
    overflow: visible;
    &__container {
      padding: .5rem !important;
    }
    &__toggles, .sidebar__links {
      grid-gap: rem(12);
    }
    &__inner {
      margin-right: rem(12);
    }
    &__logo {
      width: rem(40);
      height: rem(40);
      max-width: 100%;
      background-color: #15172d;
      border-radius: 50%;
      padding: .5rem;
      top: -1.15rem;
    }
  }
}
