.wallet {
  height: 100%;
  &__row {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: rem(34);
  }
  &__title {
    margin-bottom: rem(34);
  }
  &__inner {
    border-radius: 20px;
    outline: 4px solid #1d1e31;
  }
  &__table {
    background-color: #16182e;
    padding: rem(39);
    border-radius: 20px;
  }
  &__table-inner {
    max-height: rem(660);
    overflow-y: scroll;
  }
  &__denied,
  .wallet__suc,
  .wallet__processing {
    display: flex;
    align-items: center;
    grid-gap: rem(9);
  }
  &__denied {
    color: #dd243e;
  }
  &__processing {
    // grid-gap: rem(5) !important;
    color: #515262;
    img {
      flex: 0 0 auto;
    }
  }

  &__table-heading {
    display: flex;
    padding: 0 rem(17);
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(22);
  }
  &__suc {
    color: #60bd14;
    flex: 0 0 rem(95);
  }
  &__table-heading-item {
    color: #7c7d8e;
    font-size: 12px;
    font-weight: 500;
    &:nth-child(1) {
      flex: 0 0 rem(110);
    }
    &:nth-child(2) {
      flex: 0 0 rem(120);
    }
    &:nth-child(5) {
      flex: 0 0 rem(115);
      text-align: right;
    }
  }
  &__table-inner-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(14);
    font-weight: 600;
    border-radius: 25px;
    padding: rem(13) rem(14) rem(13) rem(17);
    &:nth-child(odd) {
      background-color: #202135;
    }
    span {
      &:nth-child(1) {
        flex: 0 0 rem(116);
      }
      &:nth-child(2) {
        flex: 0 0 rem(120);
        text-align: center;
      }
      &:nth-child(3) {
        flex: 0 0 rem(85);
        text-align: center;
      }
    }
  }
  &__heading {
    border-radius: 15px;
    min-height: rem(140);
    background-color: #16182e;
    @include df;
    justify-content: center;
    grid-gap: rem(68);
    padding: 0 rem(20);
  }
  &__balance {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    font-size: rem(36);
    font-weight: 900;
    span {
      color: #7c7d8e;
      font-size: rem(12);
      font-weight: 500;
    }
  }
  &__btns {
    @include df;
    grid-gap: rem(20);
    & > * {
      font-weight: 600;
    }
  }
  &__update {
    padding: rem(25) rem(45) rem(35);
  }
  &__update-heading {
    margin-bottom: rem(25);
    @include df;
    grid-gap: rem(11);
    span {
      font-weight: 500;
      font-size: rem(15);
    }
  }
  &__choose, .wallet__inputs-name {
    color: #4f5063;
    font-size: rem(14);
    font-weight: 500;
  }
  &__choose {
    margin-bottom: rem(17);
  }
  &__inputs {
    margin-bottom: rem(33);
  }
  &__inputs-name {
    margin-bottom: rem(8);
    font-weight: 600;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(18);
    margin-bottom: rem(28);
  }
  &__row-icon {
    flex: 1 1 22%;
    width: rem(106);
    height: rem(69);
    display: grid;
    place-items: center;
    outline: 3px solid #212136;
    border-radius: 20px;
    justify-content: center;
    cursor: pointer;
    transition: outline 350ms ease;
    &:hover {
      outline: 3px solid #d5563e;
    }
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    grid-gap: rem(25);
  }
  &__inputs-item {
    display: grid;
    grid-gap: rem(12);
    input {
      font-size: rem(12);
      color: var(--clr-light-400);
      background-color: #191a2b;
      border: 1px solid #1f2034;
      border-radius: 10px;
      padding: rem(18.5) rem(22);
      &::placeholder {
        font-size: inherit;
        color: #3f4053;
      }
    }
  }
  &__payments {
    @include df;
    justify-content: space-between;
  }
  &__payments-info {
    display: flex;
    flex-direction: column;
    color: #4f5063;
    font-size: rem(13);
    font-weight: 500;
    span {
      color: var(--clr-light-400);
    }
  }
  &__btn {
    flex: 0 0 auto;
  }
}

@include max-width(111.3125em) {
  .wallet {
    &__row {
      display: flex;
      flex-direction: column;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@include max-width(50em) {
  .wallet {
    &__update {
      padding: 1rem;
    }
    &__table {
      padding: 1rem;
    }
    &__heading {
      flex-direction: column;
      grid-gap: 1rem;
    }
    &__list {
      flex-wrap: wrap;
    }
    &__row-icon {
      flex: 1 1 auto;
    }
    &__payments {
      flex-direction: column;
      grid-gap: 1rem;
      align-items: center;
      text-align: center;
    }
    &__table-inner-item {
      span {
        font-size: rem(10);
        &:nth-child(1) {
          flex: 0 0 rem(90);
        }
        &:nth-child(2) {
          flex: 0 0 rem(100);
        }
      }
    }
    &__table-heading-item {
      font-size: rem(10);
      &:nth-child(1) {
        flex: 0 0 rem(90);
      }
      &:nth-child(2) {
        flex: 0 0 rem(100);
      }
      &:nth-child(5) {
        flex: 0 0 rem(80);
      }
    }
  }
}

@include max-width(37.5em) {
  .wallet {
    &__table {
      display: flex;
    }
    &__table-inner {
      display: flex;
      overflow-y: scroll;
    }
    &__table-heading {
      padding: rem(5);
      margin-right: rem(20);
      width: fit-content;
      flex-direction: column;
      margin-bottom: 0;
    }
    &__table-heading-item {
      text-align: center;
      flex: 0 0 auto !important;
    }
    &__table-inner-item {
      padding: rem(5);
      flex-direction: column;
      grid-gap: 2rem;
      span {
        flex: 0 0 auto !important;
        text-align: center;
      }
    }
    &__processing,
    .wallet__suc,
    .wallet__denied {
      flex-direction: column;
      font-size: rem(8) !important;
      img {
        display: none;
      }
    }
  }
}
