@font-face {
  font-family: 'Jet-Set';
  src: url('../../fonts/Jet Set.woff');
  src: local('Jet-Set'), local('Jet-Set'),
       url('../../fonts/Jet-Set.woff') format('woff'),
       url('../../fonts/Jet Set.ttf') format('truetype');
       font-weight: normal;
}

@font-face {
  font-family: 'Reload-Alt';
  src: url('../../fonts/reloadaltcyrilicbystelorq_bold.woff');
  src: local('Reload-Alt'), local('Reload-Alt'),
       url('../../fonts/reloadaltcyrilicbystelorq_bold.woff') format('woff'),
       url('../../fonts/reloadaltcyrilicbystelorq_bold.otf') format('opentype');
       font-weight: normal;
}

@font-face {
  font-family: 'Hisqaida';
  src: url('../../fonts/ofont.ru_Hisqaida.woff');
  src: local('Hisqaida'), local('Hisqaida'),
       url('../../fonts/ofont.ru_Hisqaida.woff') format('woff'),
       url('../../fonts/hisqaida2018_bold.ttf') format('truetype');
       font-weight: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('../../fonts/IntroDemoCond-BlackCAPS.woff');
  src: local('Intro'), local('Intro'),
       url('../../fonts/IntroDemoCond-BlackCAPS.woff') format('woff'),
       url('../../fonts/IntroDemoCond-BlackCAPS.otf') format('opentype');
       font-weight: 900;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-Thin.eot');
	src: local('Geometria Thin'), local('Geometria-Thin'),
		url('../../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-Thin.woff') format('woff'),
		url('../../fonts/Geometria-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-MediumItalic.eot');
	src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
		url('../../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-MediumItalic.woff') format('woff'),
		url('../../fonts/Geometria-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-Italic.eot');
	src: local('Geometria Italic'), local('Geometria-Italic'),
		url('../../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-Italic.woff') format('woff'),
		url('../../fonts/Geometria-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-Heavy.eot');
	src: local('Geometria Heavy'), local('Geometria-Heavy'),
		url('../../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-Heavy.woff') format('woff'),
		url('../../fonts/Geometria-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-ExtraBoldItalic.eot');
	src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
		url('../../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
		url('../../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-Medium.woff') format('woff'),
		url('../../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-BoldItalic.eot');
	src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
		url('../../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-BoldItalic.woff') format('woff'),
		url('../../fonts/Geometria-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-LightItalic.eot');
	src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
		url('../../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-LightItalic.woff') format('woff'),
		url('../../fonts/Geometria-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-HeavyItalic.eot');
	src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
		url('../../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-HeavyItalic.woff') format('woff'),
		url('../../fonts/Geometria-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria.woff') format('woff'),
		url('../../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-Bold.woff') format('woff'),
		url('../../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../../fonts/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}







