.main-title {
  @include df;
  grid-gap: rem(14);
  span {
    color: var(--clr-light-400);
    font-size: rem(18);
    font-weight: 700;
  }
}

@include max-width(81.25em) {
  .main-title {
    grid-gap: rem(8);
    span {
      font-size: rem(14);
    }
  }
}
